# Ignorer les .jar (trop lourds)
*.jar

# Ignorer données runtime
**/data/
**/cache/
**/*.db
**/*.db-journal
**/logs/

# Garder les configs
!**/*.yml
!**/*.yaml
!**/*.json
!**/*.conf
!**/*.toml
!**/*.properties
